:root {
    font-size: 10px;
    --main-color: #d3ad7f;
    --black:#131313;
    --bg: #010103;
    --border:0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.caixa-video video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    width: 100vw;
    border-bottom: 1px 1px solid rgb(250, 250, 250);
}

header section {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 1.5rem 0;
    position: relative;
    height: 10vh;
}

header section nav {
    display: flex;
}

header section a img {
    padding-left: 20vw;
    height: 6rem;
}

header section nav a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color:#fff;
}

nav a:hover {
    color: #d3ad7f;
    text-decoration: underline;
    transition: 0.2s;
}

.section1 {
    margin-bottom: 400px;
}

.divs1 {
    padding-left: 21vw;
    padding-top: 20vh;
}

.divs1 h3 {
    color: white;
    font-size: 4em;
}

.divs1 p {
    color: white;
    font-size: 2em;
    margin-top: 5px;
}

.divs1 a {
    display: flex;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.1s linear;
    cursor: pointer;
    border: none;
    background: var(--main-color);
    color: white;
    font-family: sans-serif;
    font-size: 1.2em;
}

.divs1 a:hover {
    box-shadow: 7px 7px 25px var(--main-color), -9px -9px 33px var(--main-color);
    transform: translateY(-2px);
}

.ps1 {
    width:500px;
}

.as1 {
    margin-top: 20px;
}

.section2 {
    margin-bottom: 100px;
}

.section2 h2 {
    font-size: 3em;
    color: #d3ad7f;
    text-align: center;
    margin-bottom: 30px;
} 

.section2 h2 span {
    color: #fff;
}

.fundos2 {
    background-color: #131313;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 62vw;
}

.parte2 {
    width: 30vw;
    margin-left: 5px;
    padding:10px ;
}

.parte2 h3 {
    color: white;
    font-size: 4em;
}

.parte2 p {
    color: white;
    font-size: 1.7em;
    margin-top: 5px;
    width: 30vw;
}

.divimagem, .img2{
    width: 30vw;
    margin-right: 5px;
}

.as2 {
    margin-top: 20px;
    display: flex;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.1s linear;
    cursor: pointer;
    border: none;
    background: var(--main-color);
    color: white;
    font-family: sans-serif;
    font-size: 1.2em;
}

.as2:hover {
    box-shadow: 7px 7px 25px var(--main-color), -9px -9px 33px var(--main-color);
    transform: translateY(-2px);
}

.map-container {
    position: absolute;
    top: 100px;
    display: flex;
    left: 50%;
    top: 25%;
    transform: translate( -50%);
}

#my-map-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.map-iframe {
    height: 70vh;
    width: 40vw;
    border: 0;
}

.titulo-endereco {
    color: #fff;
    margin: auto;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin: 40px;

}

.titulo-endereco span {
    color: #d3ad7f;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: pulsar 1.5s infinite;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1); 
    }
}

.whatsapp-button img {
    width: 80px;
    height: 80px;
}

.main-contato {
    display: flex;
    justify-content: center;
}

.divtexto-contato {
    margin-top: 20vh;
    margin-right: 20vw;
}

.divtexto-contato h1 {
    color: white;
    font-size: 4em;
}

.divtexto-contato h1 span {
    color: #d3ad7f;
}

.divtexto-contato p {
    color: white;
    font-size: 1.4em;
    margin-top: 7px;
    line-height: 1.5;
}

.icones a img {
    width: 25px;
    margin-top: 10px;
}

.divformulario {
    margin-top: 15vh;
}

.form-container {
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
  }

  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  .form-container label {
    font-size: 14px;
    color: white;
    display: block;
    margin-bottom: 5px;
  }

  .form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fafafa;
  }

  .form-container input:focus, .form-container textarea:focus {
    border-color: #d3ad7f;
    outline: none;
  }

  .form-container button {
    width: 100%;
    padding: 12px;
    background-color: #d3ad7f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .form-container button:hover {
    background-color: #d3ad7f;
  }

  .form-container p {
    color: white;
    font-size: 1.7em;
    margin-bottom: 10px;
  }